// color
// ============================================
$primary: #0C3A47;
$primary_light: #91A0A5;
$secondary: #5D5852;
$third: #FFF9F0;
$fourth: #000000;
$base: #000000;
$link: #2984f6;
$danger: #d02b2b;
$light: #ffffff;

// display
// ============================================
$xs: 320px;
$mdm: 767px;
$md: 768px;
$lgm: 991px;
$lg: 992px;
$xl: 1800px;
$xxl: 1605px;

// Google Fonts
// ============================================
// Base Font Family
$base-serif: 'Noto Sans KR', sans-serif;
